---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post.author -%}{{- _post.author }} | {% endif %}

			<!-- Whitespace added for readability -->
			{% assign m = _post.date | date: "%-m" %}
			{{ _post.date | date: "%-d" }}
			{% case m %}
			{% when '1' %}stycznia
			{% when '2' %}lutego
			{% when '3' %}marca
			{% when '4' %}kwietnia
			{% when '5' %}maja
			{% when '6' %}czerwca
			{% when '7' %}lipca
			{% when '8' %}sierpnia
			{% when '9' %}września
			{% when '10' %}października
			{% when '11' %}listopada
			{% when '12' %}grudnia
			{% endcase %}
			{{ _post.date | date: "%Y" }}

		{%- endcapture -%}
		{%- capture _description -%}<p>{{- _post.description -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">Wejdź do lekcji</a>{%- endcapture -%}
		{%- assign _content = _description | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>